/* Reset css */
* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

/* Minimum acceptable size without scroll */
body {
	min-width: 600px;
	min-height: 450px;
}

/* Simple modifiers */
.light-text {
	color: grey;
}

.simple-bottom-border {
	border-bottom: 1px solid #ccc;
}

.simple-top-border {
	border-top: 1px solid #ccc;
}

.hide {
	display: none;
}

/* Modified elements */
button {
	background-color: white;
	border: 1px solid #33abf9;
	color: #33abf9;
	padding: 4px;
	border-radius: 5px;
	outline: 0;
}

li {
	border-bottom: 1px solid #ccc;
	margin-left: 15px;
	font-size: 16px;
	height: 35px;
}


/* Elements */
.header {
	background-color: white;
}

.header .task-bar {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.header .task-bar *:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.header .task-bar * {
	align-self: center;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.header .task-bar span {
	height: 100%;
	display: inline-block;
}

.header .task-bar .settings {
	padding: 10px;
}

.header .task-bar .searchbox {
	border-radius: 10px;
	outline: 0;
	background: url(images/search.png) left center no-repeat;
	padding: 2px 5px 2px 15px;
	width: 35%;
}

.header .area-context .title {
	text-align: center;
	font-size: 30px;
}

.header .area-context .title * {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.main {
	background: url(images/snow-mountains-background.jpg) center center no-repeat;
	position: absolute;
	bottom: 0px;
	top: 90px;
	width: 100%;
	min-width: 600px;
	min-height: 360px;
}

.working-area {
	display: flex;
	height: fit-content;
}

.working-area .list, .working-area .edit {
	background-color: white;
	margin: 15px auto;
	border-radius: 4px;
}

.working-area .list {
	width: 65%;
	height: fit-content;
}

.working-area .list .list-toolbar {
	display: flex;
	justify-content: space-between;
}

.working-area .list .list-toolbar * {
	align-self: center;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin: 5px 15px;
}

.working-area .list .task-elem .list-icon {
	height: 24px;
	width: 24px;
	margin-right: 15px;
}

.working-area .list .task-elem:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.working-area .list .task-elem * {
	align-self: center;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.working-area .list.side {
	width: 55%;
}

.working-area .edit {
	width: 40%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.working-area .edit .edit-bar {
	height: fit-content;
}

.working-area .edit .edit-bar span {
	margin: 5px 5px 5px 20px;
	display: inline-block;
}

.working-area .edit .edit-bar .close {
	position: absolute;
	right: 7px;
	top: 7px;
}

.working-area .edit .form {
	display: flex;
	flex-direction: column;
	flex: auto;
}

.working-area .edit .title, .working-area .edit .description {
	outline: 0;
	border: 0;
	width: 80%;
}

.working-area .edit .title {
	font-size: 22px;
	margin: 10% auto 10px 30px;
	background: url(images/task.png) left center no-repeat;
	padding: 5px 10px 5px 36px;
}

.working-area .edit .description {
	font-size: 12px;
	margin: 10px auto auto 66px;
	resize: none;
}

.working-area .edit .comments {
	background-color: #eee;
	bottom: 0;
	display: flex;
}

.working-area .edit .comments * {
	align-self: flex-start;
	margin: 10px;
}

.working-area .edit .comments textarea {
	resize: none;
	border: #ccc solid 1px;
	width: 85%;
}
