/* Reset css */
* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    height: 100%;
    overflow:hidden;
}

/* Simple modifiers */
.light-text {
	color: grey;
}

.simple-bottom-border {
	border-bottom: 1px solid grey;
}

/* Elements */
.header {
	background-color: white;
}

.header .task-bar {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.header .task-bar *:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.header .task-bar * {
	align-self: center;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.header .task-bar span {
	height: 100%;
	display: inline-block;
}

.header .task-bar .settings {
	padding: 10px;
}

.header .task-bar .searchbox {
	border-radius: 10px;
	outline: 0;
	background: url(images/search.png) left center no-repeat;
	padding: 2px 5px 2px 15px;
}

.header .area-context .title {
	text-align: center;
	font-size: 30px;
}

.header .area-context .title * {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.working-area {
	background: url(images/snow-mountains-background.jpg) center center no-repeat;
	position: absolute;
	bottom: 0px;
	top: 90px;
	width: 100%;
}
